


<body class="text-center">

      <main role="main" class="inner cover">
        <h1 class="cover-heading"><%= @project.title %></h1>
        <p class="lead"><%= @project.description %></p>
        </p>
      </main>
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>

    </div>